@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #4e75d0 50%, #e16161 50%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.header{
    transform: translate(30%, -50%);
    position: absolute;
    /*margin-top: 10em;*/
}

.header h1 {
    font-size: 6em;
    font-weight: bold;
    color: black;
    font-family: "Yeseva One", serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.cloud img {
    width: 800px;
}

.icons {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten a la siguiente línea */
    justify-content: space-between; /* Espaciado entre columnas */
}

.icons img {
    width: 70px; /* Dos imágenes por fila con margen */
    margin-bottom: 10px; /* Espacio entre filas */
}

.teatro{
    transform: translate(100%, -90%);
}
.juego{
    transform: translate(50%, 40%);
}
.comida{
    transform: translate(50%, -100%);
}
.deporte{
    transform: translate(0%, 140%);
}
.ciencia{
    transform: translate(-50%, -120%);
}
.cine{
    transform: translate(-45%, 80%);
}
.libro{
    transform: translate(-100%, -90%);
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute; /* O relative, según el contexto */
    transform: translate(85%, -80%);
}

button {
    background-color: #8c8c8c;
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: 1.5em;
    border-radius: 10px;
    cursor: pointer;
    width: 300px;
    height: 75px;
    align-self: center;
}

button:hover {
    background-color: #6d6d6d;
}

